.p-loading {
}

.p-loading:after {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	content: "......";
	width: 0px;
	animation: pkf-ellipsis steps(8,end) 1s infinite;
	-webkit-animation: pkf-ellipsis steps(8,end) 1s infinite;
}

@keyframes pkf-ellipsis {
	to {
		width: 2em;
	}
}

@-webkit-keyframes pkf-ellipsis {
	to {
		width: 2em;
	}
}
