.p-uploader-file, input.p-uploader-file, input[type="file"].p-uploader-file {
	display: none;
}
.p-uploader-btn {
	margin-right: 20px;
}
.p-uploader-progress {
	margin: 5px 0;
}
.p-uploader-text {
	display: inline-block;
	margin-bottom: 0;
	padding-top: 7px;
}
.p-uploader-remove {
	color: #999;
	cursor: pointer;
	margin-left: 20px;
}
.p-uploader-image img {
	margin: 5px 0;
}
