/*---------------------------------------------*/
/* prompt.css                                    */
/*---------------------------------------------*/
/* MESSAGE PROMPT */
.n-prompt {
	border: dash 1px #ddd;
	margin: 10px;
	padding: 10px;
}
.n-action-prompt, .n-session-prompt, .n-application-prompt {
	margin: 5px;
	padding: 10px;
	text-align: left;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.n-error-content {
	border: 1px solid #cc0000;
	background-color: #ffcccc;
	color: #111;
}
.n-warning-content {
	border: 1px solid #f0c000;
	background-color: #ffffce;
	color: #111;
}
.n-confirm-content {
	border: 1px solid #009900;
	background-color: #ddffdd;
	color: #111;
}
.n-message-content {
	border: 1px solid #b2c7d7;
	background-color: #e7eef3;
	color: #111;
}
ul.n-action-errors, ul.n-session-errors, ul.n-application-errors,
ul.n-action-warnings, ul.n-session-warnings, ul.n-application-warnings,
ul.n-action-confirms, ul.n-session-confirms, ul.n-application-confirms,
ul.n-action-messages, ul.n-session-messages, ul.n-application-messages,
ul.n-field-errors {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
li.n-field-error, 
li.n-action-error, li.n-session-error, li.n-application-error,
li.n-action-warning, li.n-session-warning, li.n-application-warning,
li.n-action-confirm, li.n-session-confirm, li.n-application-confirm,
li.n-action-message, li.n-session-message, li.n-application-message {
	list-style-type: none;
	margin: 1px 0;
	padding: 0 0 0 20px;
}
li.n-field-error, 
li.n-action-error, li.n-session-error, li.n-application-error {
	color: #FF0000;
}
li.n-action-warning, li.n-session-warning, li.n-application-warning {
	color: #A52A2A;
}
li.n-action-confirm, li.n-session-confirm, li.n-application-confirm {
	color: #000080;
}
li.n-action-message, li.n-session-message, li.n-application-message {
	color: #004848;
}

img.n-field-error,
img.n-action-error, img.n-session-error, img.n-application-error,
img.n-action-warning, img.n-session-warning, img.n-application-warning,
img.n-action-confirm, img.n-session-confirm, img.n-application-confirm,
img.n-action-message, img.n-session-message, img.n-application-message,
em.n-field-error,
em.n-action-error, em.n-session-error, em.n-application-error,
em.n-action-warning, em.n-session-warning, em.n-application-warning,
em.n-action-confirm, em.n-session-confirm, em.n-application-confirm,
em.n-action-message, em.n-session-message, em.n-application-message {
	margin: 0 5px 0 -20px;
	vertical-align: top !important;
}

