/*--------------------------------------------------
 * section
--------------------------------------------------*/
.p-section {
	margin: 0 0 30px 0;
}
.p-header {
	margin: 0 0 20px 0;
	border-bottom: 4px double #ccc;
}
.p-header > h3, .p-header > .breadcrumb {
/*	background-color: #f5f5f5;
	border: solid 1px #e5e5e5;
	border-radius: 4px;
	*/
	background-color: transparent;
	font-size: 125%;
	margin: 0;
	padding: 8px 10px 4px 10px;
}
.p-header > .breadcrumb {
}
.p-header i {
	color: #2f6f9f;
	font-size: 150%;
	vertical-align: middle;
}
.p-header > h3.p-error > i, .p-header > i.p-error {
	color: #DC143C;
}


/*--------------------------------------------------
 * p-toolbar (ul)
 * p-navih (ul, ol)
--------------------------------------------------*/
.p-toolbar-wrap {
	text-align: right;
	margin-bottom: 10px;
}
.p-toolbar-wrap > .p-toolbar {
	float: right;
	font-size: 90%;
}
.p-toolbar {
	background-color: #f5f5f5;
	border-radius: 4px;
}
.p-toolbar, .p-navih {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0.5em 0;
}
.p-toolbar li, .p-navih li {
	border-left: 1px solid #fff;
	border-right: 1px solid #c6bcaa;
	display: inline-block;
	margin: 0;
	padding: 0 1em;
}
.p-toolbar li:first-child, .p-navih li:first-child {
	border-left: none;
}
.p-toolbar li:last-child, .p-navih li:last-child {
	border-right: none;
}
.p-toolbar li > a, .p-navih li > a {
	border-radius: 4px;
	margin: -0.5em -1em;
	padding: 0.5em 1em;
	white-space: nowrap;
}
.p-toolbar li > a:hover {
	text-decoration: none;
	background-color: #e5e5e5;
}

/*--------------------------------------------------
 * p-menu
--------------------------------------------------*/
.p-menu {
}
.p-menu-item {
	background-color: #eee;
	display: block;
	float: left;
	width: 130px;
	height: 120px;
	padding: 10px;
	margin: 10px;
	border: solid 1px #ccc;
	border-radius: 5px;
	text-align: center;
}
.p-menu-item > div {
	line-height: 1em;
	padding: 10px 0 0 0;
}
.p-menu-item:hover {
	background-color: #FFF8DC;
	text-decoration: none;
}

/*--------------------------------------------------
 * Style
--------------------------------------------------*/
.p-well {
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	margin-bottom: 20px;
	min-height: 20px;
	padding: 20px;
}

/*--------------------------------------------------
 * Popup
--------------------------------------------------*/
.p-popup {
	padding: 10px;
	min-width: 400px;
}

/*--------------------------------------------------
 * Adblock
--------------------------------------------------*/
.p-adblock {
	font-size: 150%;
	color: #666;
}

