/*---------------------------------------------*/
/* listview.css                                */
/*---------------------------------------------*/
.p-lv {
	margin: 0;
	padding: 0;
}

/* form */
.p-lv-form {
	display: none;
}

/* header */
.p-lv-header {
}

/* footer */
.p-lv-footer {
}

/* tools */
.p-lv-tools {
}
.p-lv-tools > button {
	margin: 5px 5px 5px 0;
}

/* action link */
.p-lv a.p-lv-ia {
	display: inline-block;
	padding: 1px;
	white-space: nowrap;
}
.p-lv a.p-lv-ia, .p-lv a.p-lv-ia:hover {
	border: 0 none;
	text-decoration: none;
}
.p-lv a.p-lv-ia:hover {
	background-color: #ffef8f;
}
.p-lv a.p-lv-ia .p-lv-t {
	border: solid 1px #999;
	cursor: pointer;
	display: inline-block;
	margin: 0 0 0 -17px;
	padding: 1px 0 1px 18px;
	vertical-align: middle;
}

/* normal link */
.p-lv a.p-lv-a {
}

/* checkbox all */
.p-lv-ca {
}
/* checkbox row */
.p-lv-cb {
}

/* checkbox */
.p-lv-check input[type=checkbox] {
	margin: 0;
}


/* body */
.p-lv-body {
	margin: 0;
	padding: 0;
}
.p-lv-bform {
	background-color: transparent;
}
.p-lv-body-head {
	margin: 0 0 -2px 0;
}

/* table */
.p-lv-table-wrap {
	border: solid 1px #ddd;
	margin: 0;
}
.p-lv-table-wrap.table-responsive {
	margin: 0;
}
.p-lv-table {
	font-size: 90%;
	margin: 0;
	width: 100%;
}
.p-lv-cm {
}
.p-lv-hidden {
	display: none;
}

/* table - thead */
thead.p-lv-chead tr {
}
thead.p-lv-chead > tr > th {
	font-weight: normal;
	padding: 8px;
	text-align: left;
	vertical-align: middle;
}
thead.p-lv-chead > tr > th.p-lv-rownum,
thead.p-lv-chead > tr > th.p-lv-number,
thead.p-lv-chead > tr > th.p-lv-check,
thead.p-lv-chead > tr > th.p-lv-actions {
	text-align: center;
	width: 22px;
}
thead.p-lv-chead > tr > th.p-lv-hover {
	font-weight: normal;
}
thead.p-lv-chead > tr > th.p-lv-filtered, thead.p-lv-chead > tr > th.p-lv-filtered:hover {
	font-style: italic;
	font-weight: bold;
}
thead.p-lv-chead > tr > th.p-lv-sort-asc,
thead.p-lv-chead > tr > th.p-lv-sort-desc,
thead.p-lv-chead > tr > th.p-lv-sortable {
	cursor: pointer;
}
.p-lv-sort {
	color: #999;
}

/* table - tbody */
tbody.p-lv-tbody {
}
.p-lv-clickable tbody.p-lv-tbody > tr {
	cursor: pointer;
}

tbody.p-lv-tbody > tr > tr.p-lv-odd {
}
tbody.p-lv-tbody > tr > tr.p-lv-even {
}
tbody.p-lv-tbody > tr > tr.p-lv-selected {
}
tbody.p-lv-tbody > tr > tr.p-lv-hover {
}
tbody.p-lv-tbody > tr > th {
	font-weight: normal;
}
tbody.p-lv-tbody > tr > th, tbody.p-lv-tbody > tr > td {
	padding: 8px;
	vertical-align: middle;
}
tbody.p-lv-tbody > tr > th.p-lv-check, tbody.p-lv-tbody > tr > td.p-lv-check,
tbody.p-lv-tbody > tr > th.p-lv-number, tbody.p-lv-tbody > tr > td.p-lv-number,
tbody.p-lv-tbody > tr > th.p-lv-rownum, tbody.p-lv-tbody > tr > td.p-lv-rownum,
tbody.p-lv-tbody > tr > th.p-lv-actions, tbody.p-lv-tbody > tr > td.p-lv-actions {
	text-align: center;
	width: 22px;
}

/* table - wrap */
.table-responsive > .p-lv-table th, .table-responsive > .p-lv-table td {
	white-space: nowrap;
}
.print .table-responsive > .p-lv-table th, .print .table-responsive > .p-lv-table td {
	white-space: normal;
}

thead.p-lv-chead > tr > th,
thead.p-lv-chead > tr > th.p-lv-actions,
thead.p-lv-chead > tr > th.p-lv-check,
thead.p-lv-chead > tr > th.p-lv-number,
thead.p-lv-chead > tr > th.p-lv-rownum,
tbody.p-lv-tbody > tr > th.p-lv-actions,
tbody.p-lv-tbody > tr > th.p-lv-check,
tbody.p-lv-tbody > tr > th.p-lv-number,
tbody.p-lv-tbody > tr > th.p-lv-rownum,
tbody.p-lv-tbody > tr > td.p-lv-actions,
tbody.p-lv-tbody > tr > td.p-lv-check,
tbody.p-lv-tbody > tr > td.p-lv-number,
tbody.p-lv-tbody > tr > td.p-lv-rownum {
	white-space: nowrap;
}


/* hover & select */
thead.p-lv-chead > tr > th.p-lv-sortable:hover {
	background-color: #F5FFFA;
}
tbody.p-lv-tbody > tr.p-lv-selected {
	background-color: #FFFFF0;
}
tbody.p-lv-tbody > tr:hover > td,
tbody.p-lv-tbody > tr.p-lv-hover > td {
}

/* grid style */
/*
thead.p-lv-chead > tr > th,
tbody.p-lv-tbody > tr > th,
tbody.p-lv-tbody > tr > td {
	border-left: dotted 1px #ccc;
}
thead.p-lv-chead > tr > th:first-child,
tbody.p-lv-tbody > tr > th:first-child,
tbody.p-lv-tbody > tr > td:first-child {
	border-left: none;
}
*/

/* ----------------------------------------------------
 * Default cssColumn Style
 * -------------------------------------------------- */
.p-lv-cc-status-A {
}
.p-lv-cc-status-D {
	text-decoration: line-through;
	background-image: linear-gradient(to bottom, transparent, transparent 49%, #666 50%, transparent 51%, transparent);
}
.p-lv-cc-status-T {
	font-style: italic;
	text-decoration: line-through;
	background-image: linear-gradient(to bottom, transparent, transparent 45%, #666 46%, transparent 47%, transparent 50%, #666 51%, transparent 52%, transparent);
}

