/**
 * ui-loadmask hack
 * https://icons8.com/preloaders/
 * Foreground color: #435BD1   Background color: #FFFFFF
 */
.ui-loadmask-loading {
	background-image: url('../img/loader/fountain.gif');
	width: 160px;
	height: 20px;
}
.ui-loadmask-hasmsg .ui-loadmask-loading {
	background-image: url('../img/loader/squares-circle.gif');
	width: 32px;
	height: 32px;
}
.ui-loadmask-big .ui-loadmask-loading {
	background-image: url('../img/loader/squares-circle-big.gif');
	width: 64px;
	height: 64px;
}
