/* SIDENAV */
.p-sidenav-card {
	margin-bottom: 20px;
}
.p-sidenav-card .panel-body, .p-sidenav-card .card-body {
	padding: 2px 5px;
}
.p-sidenav-card .panel-heading, .p-sidenav-card .card-header {
	position: relative;
}
.p-sidenav-card ul.nav > li > a {
	padding: 5px 0.5em;
}
.p-sidenav-card ul.nav > li > a:focus, .p-sidenav-card ul.nav > li > a:hover {
	background-color: #eee;
}
.p-sidenav-card ul.nav > li > a > i {
	display: inline-block;
	text-align: center;
	width: 20px;
}
.p-sidenav-card .panel-heading > i, .p-sidenav-card .card-header > i {
	font-size: 120%;
}
.p-sidenav-card ul.nav  > li.active {
	font-weight: bold;
}

@media (max-width: 991px) {
	.p-sidenav {
		text-align: right;
	}
	.p-sidenav-body {
		display: inline-block;
		text-align: center;
		width: 45px;
	}
	.p-sidenav-card .panel-heading, .p-sidenav-card .card-header {
		padding: 10px 5px;
	}
	.p-sidenav-card .panel-heading span, .p-sidenav-body .panel-body a>span,
	.p-sidenav-card .card-header span, .p-sidenav-body .card-body a>span {
		display: none;
	}
}
@media (min-width: 768px) {
	.p-sidenav-card ul.nav > li {
		border-bottom: solid 1px #ccc;
	}
	.p-sidenav-card ul.nav > li:last-child {
		border-bottom: none;
	}
}
@media (max-width: 767px) {
	.p-sidenav {
		text-align: left;
	}
	.p-sidenav-body {
		display: block;
		text-align: left;
		width: auto;
	}
	.p-sidenav-card.panel, .side-card.panel {
		margin-bottom: 5px;
	}
	.p-sidenav-card.panel, .p-sidenav-card .panel-body, .p-sidenav-card.panel ul.nav, .p-sidenav-card.panel ul.nav>li,
	.p-sidenav-card.panel, .p-sidenav-card .card-body, .p-sidenav-card.card ul.nav, .p-sidenav-card.card ul.nav>li {
		display: inline-block;
	}
	.p-sidenav-card .panel-heading, .p-sidenav-card .card-header {
		display: none;
	}
}