ul.p-application-errors i.fa-li, 
ul.p-application-warnings i.fa-li, 
ul.p-application-confirms i.fa-li, 
ul.p-application-messages i.fa-li,
ul.p-session-errors i.fa-li, 
ul.p-session-warnings i.fa-li, 
ul.p-session-confirms i.fa-li, 
ul.p-session-messages i.fa-li,
ul.p-action-errors i.fa-li, 
ul.p-action-warnings i.fa-li, 
ul.p-action-confirms i.fa-li, 
ul.p-action-messages i.fa-li,
ul.p-field-errors i.fa-li {
	font-size: 200%;
	left: -30px;
	top: 0;
	width: auto;
}

ul.p-application-errors li, 
ul.p-application-warnings li, 
ul.p-application-confirms li, 
ul.p-application-messages li,
ul.p-session-errors li, 
ul.p-session-warnings li, 
ul.p-session-confirms li, 
ul.p-session-messages li,
ul.p-action-errors li, 
ul.p-action-warnings li, 
ul.p-action-confirms li, 
ul.p-action-messages li,
ul.p-field-errors li {
	padding: 5px 0;
}

.p-required {
	color: #FF0000;
}

.p-error, .p-field-errors {
	color: #b94a48;
}

/** form layout */
.p-form.form-horizontal {
	background-color: #f9f9f9;
	color: #333;
	padding: 10px;
}
.p-form.form-horizontal .form-group {
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 5px 0;
}
.p-form.form-horizontal .p-buttons.form-group {
	border-bottom: 0;
}
.p-form .form-control {
	height: auto;
}
.p-form .form-control, .p-form input.form-control, .p-form select.form-control,
.p-form .input-group-addon, .p-form .input-group-btn {
	padding: 4px 10px;
}
.p-form input.form-control[size], .p-form select.form-control,
.p-form .input-group-addon, .p-form .input-group-btn {
	width: auto;
}
.p-form.form-horizontal .control-label,
.p-form.form-horizontal .radio,
.p-form.form-horizontal .checkbox,
.p-form.form-horizontal .radio-inline,
.p-form.form-horizontal .checkbox-inline {
	padding-top: 5px;
}

/** form inputs */
.p-form label {
	font-weight: normal;
}
.p-checkboxlist label.checkbox-inline,
.p-radiomap label.radio-inline {
	padding-right: 10px;
}
.p-checkboxlist .checkbox-inline+.checkbox-inline,
.p-radiomap .radio-inline+.radio-inline {
	margin-left: 0;
}


/** datetimepicker */
/* .p-datepicker, .p-timepicker, .p-datetimepicker {
}
*/
i.p-datepicker-icon, i.p-timepicker-icon, i.p-datetimepicker-icon {
	cursor: pointer;
}
/* LOADER */
.p-loader-squares-circle {
	background: url("../img/loader/squares-circle.gif") center center no-repeat;
	width: 31px;
	height: 31px;
}
.p-loader-snake {
	background: url("../img/loader/snake.gif") center center no-repeat;
	width: 16px;
	height: 16px;
}
.p-loader-big-snake {
	background: url("../img/loader/big-snake.gif") center center no-repeat;
	width: 24px;
	height: 24px;
}
.p-loader-large-snake {
	background: url("../img/loader/large-snake.gif") center center no-repeat;
	width: 48px;
	height: 48px;
}

/* background-image */
.p-bimg-magnifier24 {
	background-image: url("../img/magnifier-24.png");
}
.p-bimg-magnifier32 {
	background-image: url("../img/magnifier-32.png");
}

.p-section {
}
.p-header {
	padding-bottom: 5px;
	margin: 10px 0 20px;
	border-bottom: 1px solid #eee;
}
.p-header > h3 {
	margin-bottom: 5px;
}
.p-header > h3 > i, .p-header > i {
	color: #2f6f9f;
	vertical-align: middle;
}
.p-header > h3.p-error > i, .p-header > i.p-error {
	font-size: 200%;
	color: #DC143C;
}

/*
 * Adblock
 * --------------------------------------------------
 */
.p-adblock {
	font-size: 150%;
	color: #666;
}

/*---------------------------------------------*/
/* listview.css                                */
/*---------------------------------------------*/
.p-lv {
	margin: 0;
	padding: 0;
}

/* form */
.p-lv-form {
	display: none;
}
.p-lv-submit {
}

/* header */
.p-lv-header {
}
.n-lv-header .n-lv-toolbar {
	margin: 0 0 -1px 0;
}

/* footer */
.p-lv-footer {
}
.n-lv-footer .n-lv-toolbar {
	margin: -1px 0 0 0;
}

/* toolbar */
.n-lv-toolbar {
	font-weight: normal !important;
	padding: 0 8px;
}
.n-lv-toolbar .n-lv-toolbar-tb {
	width: 100%;
}
.n-lv-toolbar .n-lv-td-tools {
	padding: 0 8px;
	text-align: left;
	white-space: nowrap;
}
.n-lv-toolbar .n-lv-td-pager {
	text-align: left;
	white-space: nowrap;
	width: 1%;
}
.n-lv-toolbar .n-lv-td-addon {
	text-align: left;
	white-space: nowrap;
}

/* pager */
.p-lv-pager {
	margin: 2px 0;
}

/* addon */
.n-lv-addon {
	margin: 0;
}

/* action link */
.n-lv a.n-lv-ia {
	display: inline-block;
	padding: 1px;
	white-space: nowrap;
}
.n-lv a.n-lv-ia, .n-lv a.n-lv-ia:hover {
	border: 0 none;
	text-decoration: none;
}
.n-lv a.n-lv-ia:hover {
	background-color: #ffef8f;
}
.n-lv a.n-lv-ia .n-lv-t {
	border: solid 1px #999;
	cursor: pointer;
	display: inline-block;
	margin: 0 0 0 -17px;
	padding: 1px 0 1px 18px;
	vertical-align: middle;
}

/* normal link */
.n-lv a.n-lv-a {
}

/* checkbox all */
.p-lv-ca {
}
/* checkbox row */
.p-lv-cb {
}

/* filters */
fieldset.p-lv-filters {
	padding: 5px;
}
fieldset.p-lv-filters legend {
}
.p-lv-fsform {
	background-color: #f9f9f9;
	padding: 10px;
}
.p-lv-filters-t {
	width: 100%;
}
.p-lv-filters-t > tbody > tr > td {
	padding: 2px;
}
.p-lv-filters-t .form-control,
.p-form .p-lv-filters-t .form-control {
	display: inline;
}
.p-lv-filters-t .form-control, 
.p-form .p-lv-filters-t .form-control {
	padding: 3px 6px;
}
.p-lv-filters-t .input-group-addon, 
.p-form .p-lv-filters-t .input-group-addon {
	padding: 5px 6px;
}
.p-lv-filters-t td.p-lv-submit td {
	white-space: nowrap;
}
.p-lv-filters-t td.p-lv-label {
	padding-right: 6px;
	width: 80px;
	min-width: 80px;
	text-align: right;
}
.p-lv-filters-t td.p-lv-label * {
}
.p-lv-filters-t td.p-lv-input {
	min-width: 390px;
	white-space: nowrap;
}
.p-lv-filters-t td.p-lv-input .p-checkboxlist,
.p-lv-filters-t td.p-lv-input .p-radiomap {
	white-space: normal;
}
.p-lv-filters-t td.p-lv-remove {
	width: auto;
}
.p-lv-filters-t .p-lv-f-string-v {
	width: 280px;
}
.p-lv-filters-t .p-lv-f-string-c {
	width: auto;
}
.p-lv-filters-t .p-datepicker,
.p-lv-filters-t .p-timepicker,
.p-lv-filters-t .p-datetimepicker {
	display: inline-block;
}
.p-lv-filters-t .p-datepicker-icon,
.p-lv-filters-t .p-timepicker-icon,
.p-lv-filters-t .p-datetimepicker-icon {
	display: inline;
}
.p-lv-filters-t .p-lv-f-date-v, .p-lv-filters-t .p-lv-f-date-v2,
.p-lv-filters-t .p-lv-f-time-v, .p-lv-filters-t .p-lv-f-time-v2,
.p-lv-filters-t .p-lv-f-datetime-v, .p-lv-filters-t .p-lv-f-datetime-v2 {
	width: 150px;
}
.p-lv-filters-t .p-lv-f-date-c,
.p-lv-filters-t .p-lv-f-datetime-c,
.p-lv-filters-t .p-lv-f-time-c {
	width: auto;
}
.p-lv-filters-t .p-lv-f-number-v, .p-lv-filters-t .p-lv-f-number-v2 {
	width: 160px;
}
.p-lv-filters-t .p-lv-f-number-c {
	width: auto;
}
.p-lv-filters-t .p-lv-f-boolean-true {
}
.n-lv-filters-t .p-lv-f-boolean-false {
}
.p-lv-filters-t .p-checkboxlist {
}
.p-lv-filters-t .p-lv-filters-sep td {
	padding: 10px 0;
}
.p-lv-filters-t .p-lv-filters-sep div {
	border-top: 1px dashed #ccc;
	width: 100%;
}
.p-lv-filters-t tr.p-lv-submit {
}
.p-lv-filters-t tr.p-lv-submit td.p-lv-submit {
	padding: 12px 2px 2px 2px;
}
.p-lv-fs-tb-options {
	margin: 0;
}
.p-lv-fs-tb-options td {
	white-space: nowrap;
}
.p-lv-filters-t .p-lv-fs-select {
	margin-left: 14px;
}

/* body */
.p-lv-body {
	margin: 0;
	padding: 0;
}
.p-lv-bform {
	background-color: transparent;
}
.n-lv-body-head {
	margin: 0 0 -2px 0;
}
.n-lv-cell-last {
	width: 100px;
}

/* table */
.n-lv-table {
	margin: 0;
	width: 100%;
}
.n-lv-hidden {
	display: none;
}
.n-lv-nowrap {
	white-space: nowrap;
}
.n-lv-column {
}


/* table - thead */
thead.n-lv-chead tr {
}
thead.n-lv-chead th {
	font-weight: normal;
	padding: 4px 4px;
	text-align: left;
	vertical-align: middle;
}
thead.n-lv-chead th.n-lv-rownum,
thead.n-lv-chead th.n-lv-number,
thead.n-lv-chead th.n-lv-check,
thead.n-lv-chead th.n-lv-actions {
	text-align: center;
	padding: 2px 4px;
	width: 22px;
}
thead.n-lv-chead th.n-lv-hover {
	font-weight: normal;
}
thead.n-lv-chead th.n-lv-filtered, thead.n-lv-chead th.n-lv-filtered:hover {
	font-style: italic;
	font-weight: bold;
}
thead.n-lv-chead th.n-lv-sort-asc,
thead.n-lv-chead th.n-lv-sort-desc,
thead.n-lv-chead th.n-lv-sortable {
	cursor: pointer;
}
thead.n-lv-chead th .n-lv-sort-asc,
thead.n-lv-chead th .n-lv-sort-desc,
thead.n-lv-chead th .n-lv-sort-off {
	display: inline-block;
	vertical-align: middle;
}

/* table - tbody */
tbody.n-lv-tbody {
}
tbody.n-lv-tbody tr.n-lv-odd {
}
tbody.n-lv-tbody tr.n-lv-even {
}
tbody.n-lv-tbody tr.n-lv-selected {
}
tbody.n-lv-tbody tr.n-lv-hover {
}
tbody.n-lv-tbody th {
	font-weight: normal;
}
tbody.n-lv-tbody th, tbody.n-lv-tbody td {
	padding: 2px 4px;
	vertical-align: middle;
}
tbody.n-lv-tbody th.n-lv-check, tbody.n-lv-tbody td.n-lv-check,
tbody.n-lv-tbody th.n-lv-number, tbody.n-lv-tbody td.n-lv-number,
tbody.n-lv-tbody th.n-lv-rownum, tbody.n-lv-tbody td.n-lv-rownum,
tbody.n-lv-tbody th.n-lv-actions, tbody.n-lv-tbody td.n-lv-actions {
	text-align: center;
	padding: 2px 4px;
	width: 22px;
}

thead.n-lv-chead th, thead.n-lv-chead th .n-lv-cell,
thead.n-lv-chead th.n-lv-actions, thead.n-lv-chead th.n-lv-actions .n-lv-cell,
thead.n-lv-chead th.n-lv-number,  thead.n-lv-chead th.n-lv-number .n-lv-cell,
thead.n-lv-chead th.n-lv-check,   thead.n-lv-chead th.n-lv-check .n-lv-cell,
tbody.n-lv-tbody th.n-lv-number,  tbody.n-lv-tbody th.n-lv-number .n-lv-cell, 
tbody.n-lv-tbody th.n-lv-rownum,  tbody.n-lv-tbody th.n-lv-rownum .n-lv-cell, 
tbody.n-lv-tbody th.n-lv-check,   tbody.n-lv-tbody th.n-lv-check .n-lv-cell, 
tbody.n-lv-tbody th.n-lv-actions, tbody.n-lv-tbody th.n-lv-actions .n-lv-cell, 
tbody.n-lv-tbody td.n-lv-number,  tbody.n-lv-tbody td.n-lv-number .n-lv-cell,
tbody.n-lv-tbody td.n-lv-rownum,  tbody.n-lv-tbody td.n-lv-rownum .n-lv-cell,
tbody.n-lv-tbody td.n-lv-check,   tbody.n-lv-tbody td.n-lv-check .n-lv-cell,
tbody.n-lv-tbody td.n-lv-actions, tbody.n-lv-tbody td.n-lv-actions .n-lv-cell {
	white-space: nowrap;
}

/* theme */
/*
thead.n-lv-chead th.n-lv-column {
	border-left-style: dotted;
	border-right-style: dotted;
}
tbody.n-lv-tbody td.n-lv-column,
tbody.n-lv-tbody tr.n-lv-selected td.n-lv-column,
tbody.n-lv-tbody tr:hover td.n-lv-column,
tbody.n-lv-tbody tr.n-lv-hover td.n-lv-column {
	border-left: dotted 1px #ccc;
	border-right: dotted 1px #ccc;
}
*/
/*---------------------------------------------*/
/* pager.css                                   */
/*---------------------------------------------*/
.pagination.p-pager > li > a,
.pagination.p-pager > li > span {
	margin-left: 3px;
}
.pagination.p-pager > li.p-pager-ellipsis > span {
	border: 0 none;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
}
/* TOOLS */
.p-btrans 		{ background: transparent; }

.p-cpointer 	{ cursor: pointer; }

.p-fbold 		{ font-weight: bold; }
.p-fitalic 		{ font-style: italic; }

.p-nowrap		{ white-space: nowrap; }
.p-tleft 		{ text-align: left; }
.p-tcenter 		{ text-align: center; }
.p-tright 		{ text-align: right; }

.p-vmiddle 		{ vertical-align: middle; }

.p-h100p 		{ height: 100%; }
.p-hauto 		{ height: auto; }
.p-w100p 		{ width: 100%; }
.p-wauto 		{ width: auto; }

.p-fleft 		{ float: left !important;}
.p-fright 		{ float: right !important; }
.p-fnone 		{ float: none !important; }

.p-show			{ display: block !important; }
.p-hidden 		{ display: none !important; }
.p-vhidden 		{ position: absolute; top: -999999px; left: -999999px; }
.p-inline 		{ display: inline; }
.p-iblock 		{ display: inline-block; }

.p-opacity0 	{ opacity: 0; filter: Alpha(Opacity=0); }

.p-noborder		{ border: 0 none; }


.p-uploader-text {
	display: inline-block;
	margin-bottom: 0;
	padding-top: 7px;
}
