/** bootstrap modify */
.text-warning {
	/*color: #8a6d3b;*/
	color: #ffa500;
}

/** alternative for bootstrap text-* */
.p-error {
	color: #a94442;
}
.p-warn {
	color: #ffa500;
}
.p-info {
	color: #31708f;
}
.p-success {
	color: #3c763d;
}

.p-alert i.fa-li, ul.p-field-errors i.fa-li {
	font-size: 200%;
	left: -30px;
	top: 0;
	width: auto;
}
.p-alert li, ul.p-field-errors li {
	padding: 5px 0;
}

/*
.p-field-errors {
	color: #b94a48;
}
*/

.p-field-errors-caret {
	font-size: 80%;
}
.p-required {
	color: #FF0000;
}

/** form layout */
.p-form.form-horizontal {
	background-color: #f9f9f9;
	color: #333;
	padding: 10px;
}
.p-form.form-horizontal .form-group {
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 5px 0;
}
.p-form.form-horizontal .p-buttons.form-group {
	border-bottom: 0;
}
.p-form .form-control {
}
.p-form .form-control, .p-form input.form-control, .p-form select.form-control,
.p-form .input-group-addon, .p-form .input-group-btn {
	padding: 4px 10px;
}
.p-form input.form-control[size], .p-form select.form-control,
.p-form .p-radiomap input.form-control, .p-form .p-checkboxlist input.form-control, .p-form input.p-checkbox,
.p-form .input-group-addon, .p-form .input-group-btn {
	width: auto;
}
.p-form.form-horizontal .control-label,
.p-form.form-horizontal .radio,
.p-form.form-horizontal .checkbox,
.p-form.form-horizontal .radio-inline,
.p-form.form-horizontal .checkbox-inline {
	padding-top: 5px;
}

/** form inputs */
.p-form label {
	font-weight: normal;
}
.p-checkboxlist.break label.checkbox-inline,
.p-radiomap.break label.radio-inline {
	display: block;
}
.p-checkboxlist label.checkbox-inline,
.p-radiomap label.radio-inline {
	padding-right: 20px;
}
.p-checkboxlist .checkbox-inline+.checkbox-inline,
.p-radiomap .radio-inline+.radio-inline {
	margin-left: 0;
}
.p-checkboxlist hr {
	margin: 5px 0;
	border-color: #ccc;
	border-style: dashed;
}

/** trigger, datetimepicker */
div.p-textfield, div.p-triggerfield, div.p-datepicker, div.p-timepicker, div.p-datetimepicker {
}
div.p-textfield > .input-group-addon, 
div.p-triggerfield > .input-group-addon, 
div.p-datepicker > .input-group-addon, 
div.p-timepicker > .input-group-addon, 
div.p-datetimepicker > .input-group-addon {
	color: #666;
	cursor: pointer;
	background-color: #f9f9f9;
}
div.p-textfield i, div.p-triggerfield i, div.p-datepicker i, div.p-timepicker i, div.p-datetimepicker i {
}
/* LOADER */
.p-loader-squares-circle {
	background: url("../img/loader/squares-circle.gif") center center no-repeat;
	width: 31px;
	height: 31px;
}
.p-loader-snake {
	background: url("../img/loader/snake.gif") center center no-repeat;
	width: 16px;
	height: 16px;
}
.p-loader-big-snake {
	background: url("../img/loader/big-snake.gif") center center no-repeat;
	width: 24px;
	height: 24px;
}
.p-loader-large-snake {
	background: url("../img/loader/large-snake.gif") center center no-repeat;
	width: 48px;
	height: 48px;
}

/* background-image */
.p-bimg-magnifier24 {
	background-image: url("../img/magnifier-24.png");
}
.p-bimg-magnifier32 {
	background-image: url("../img/magnifier-32.png");
}

/*--------------------------------------------------
 * section
--------------------------------------------------*/
.p-section {
}
.p-header {
	margin: 0 0 20px 0;
	border-bottom: 4px double #ccc;
}
.p-header > h3, .p-header > .breadcrumb {
/*	background-color: #f5f5f5;
	border: solid 1px #e5e5e5;
	border-radius: 4px;
	*/
	background-color: transparent;
	font-size: 125%;
	margin: 0;
	padding: 8px 10px 4px 10px;
}
.p-header > .breadcrumb {
}
.p-header i {
	color: #2f6f9f;
	font-size: 150%;
	vertical-align: middle;
}
.p-header > h3.p-error > i, .p-header > i.p-error {
	color: #DC143C;
}


/*--------------------------------------------------
 * p-toolbar (ul)
 * p-navih (ul, ol)
--------------------------------------------------*/
.p-toolbar-wrap {
	text-align: right;
	margin-bottom: 10px;
}
.p-toolbar-wrap > .p-toolbar {
	float: right;
	font-size: 90%;
}
.p-toolbar {
	background-color: #f5f5f5;
	border-radius: 4px;
}
.p-toolbar, .p-navih {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0.5em 1.5em;
}
.p-toolbar li, .p-navih li {
	border-left: 1px solid #fff;
	border-right: 1px solid #c6bcaa;
	display: inline;
	margin: 0;
	padding: 0 1em;
}
.p-toolbar li > a, .p-navih li > a {
	white-space: nowrap;
}
.p-toolbar li:first-child, .p-navih li:first-child {
	border-left: none;
	padding-left: 0;
}
.p-toolbar li:last-child, .p-navih li:last-child {
	border-right: none;
	padding-right: 0;
}

/*--------------------------------------------------
 * Style
--------------------------------------------------*/
.p-well {
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	margin-bottom: 20px;
	min-height: 20px;
	padding: 20px;
}

/*--------------------------------------------------
 * Popup
--------------------------------------------------*/
.p-popup {
	padding: 10px;
	min-width: 400px;
}

/*--------------------------------------------------
 * Adblock
--------------------------------------------------*/
.p-adblock {
	font-size: 150%;
	color: #666;
}

/*---------------------------------------------*/
/* listview.css                                */
/*---------------------------------------------*/
.p-lv {
	margin: 0;
	padding: 0;
}

/* form */
.p-lv-form {
	display: none;
}
.p-lv-submit {
}

/* header */
.p-lv-header {
}
.p-lv-header .p-lv-toolbar {
	margin: 0 0 -1px 0;
}

/* footer */
.p-lv-footer {
}
.p-lv-footer .p-lv-toolbar {
	margin: -1px 0 0 0;
}

/* toolbar */
.p-lv-toolbar {
	font-weight: normal !important;
	padding: 0 8px;
}
.p-lv-toolbar .p-lv-tools {
	margin: 8px 0;
	white-space: nowrap;
}
.p-lv-toolbar .p-lv-pager {
	margin: 2px 0;
}
.p-lv-toolbar .p-lv-addon {
	white-space: nowrap;
}
.p-lv-tools > button {
	margin-right: 5px;
}

/* action link */
.p-lv a.p-lv-ia {
	display: inline-block;
	padding: 1px;
	white-space: nowrap;
}
.p-lv a.p-lv-ia, .p-lv a.p-lv-ia:hover {
	border: 0 none;
	text-decoration: none;
}
.p-lv a.p-lv-ia:hover {
	background-color: #ffef8f;
}
.p-lv a.p-lv-ia .p-lv-t {
	border: solid 1px #999;
	cursor: pointer;
	display: inline-block;
	margin: 0 0 0 -17px;
	padding: 1px 0 1px 18px;
	vertical-align: middle;
}

/* normal link */
.p-lv a.p-lv-a {
}

/* checkbox all */
.p-lv-ca {
}
/* checkbox row */
.p-lv-cb {
}

/* filters */
.p-lv-queryer {
	font-size: 90%;
}
.p-lv-queryer .form-control {
	height: 28px;
}
fieldset.p-lv-filters {
	padding: 5px;
}
fieldset.p-lv-filters legend {
}
.p-lv-fsform {
	background-color: #f9f9f9;
	padding: 10px;
}
.p-lv-fsform.form-horizontal .form-group {
	border-bottom: none;
}
.p-lv-fsform .p-lv-fs-remove {
	color: #999;
	margin-top: 8px;
	position: absolute;
	cursor: pointer;
	z-index: 1;
}
.p-lv-fsform .p-lv-filters-sep {
	border-top: 1px dashed #ccc;
	width: 100%;
}
.p-lv-fs-inputgroup .p-lv-f-number-v.form-control,
.p-lv-fs-inputgroup .p-lv-f-number-v2.form-control,
.p-lv-fs-inputgroup .p-lv-f-string-v.form-control {
	display: inline;
	width: 170px;
}
.p-lv-fs-inputgroup .p-lv-f-datetime-v.form-control,
.p-lv-fs-inputgroup .p-lv-f-datetime-v2.form-control {
	width: 170px;
}
.p-lv-fs-inputgroup .p-lv-f-date-v.form-control,
.p-lv-fs-inputgroup .p-lv-f-date-v2.form-control,
.p-lv-fs-inputgroup .p-lv-f-time-v.form-control,
.p-lv-fs-inputgroup .p-lv-f-time-v2.form-control {
	width: 100px;
	
}
.p-lv-fs-inputgroup .p-lv-f-g1, .p-lv-fs-inputgroup .p-lv-f-g2 {
	display: inline-block;
	vertical-align: top;
}
.p-lv-fs-inputgroup .p-lv-f-date-c.form-control,
.p-lv-fs-inputgroup .p-lv-f-datetime-c.form-control,
.p-lv-fs-inputgroup .p-lv-f-time-c.form-control,
.p-lv-fs-inputgroup .p-lv-f-number-c.form-control,
.p-lv-fs-inputgroup .p-lv-f-string-c.form-control {
	display: inline;
	width: auto;
}
.p-lv-fsform .p-lv-fs-select {
	display: inline;
	margin-left: 40px;
}


/* body */
.p-lv-body {
	margin: 0;
	padding: 0;
}
.p-lv-bform {
	background-color: transparent;
}
.p-lv-body-head {
	margin: 0 0 -2px 0;
}

/* table */
.p-lv-table-wrap {
	border: solid 1px #ddd;
}
.p-lv-table {
	font-size: 90%;
	margin: 0;
	width: 100%;
}
.p-lv-hidden {
	display: none;
}
.p-lv-nowrap {
	white-space: nowrap;
}
.p-lv-wswrap {
	white-space: normal;
}
.p-lv-cm {
}

/* table - thead */
thead.p-lv-chead tr {
}
thead.p-lv-chead > tr > th {
	font-weight: normal;
	padding: 8px;
	text-align: left;
	vertical-align: middle;
}
thead.p-lv-chead > tr > th.p-lv-rownum,
thead.p-lv-chead > tr > th.p-lv-number,
thead.p-lv-chead > tr > th.p-lv-check,
thead.p-lv-chead > tr > th.p-lv-actions {
	text-align: center;
	width: 22px;
}
thead.p-lv-chead > tr > th.p-lv-hover {
	font-weight: normal;
}
thead.p-lv-chead > tr > th.p-lv-filtered, thead.p-lv-chead > tr > th.p-lv-filtered:hover {
	font-style: italic;
	font-weight: bold;
}
thead.p-lv-chead > tr > th.p-lv-sort-asc,
thead.p-lv-chead > tr > th.p-lv-sort-desc,
thead.p-lv-chead > tr > th.p-lv-sortable {
	cursor: pointer;
}
.p-lv-sort {
	color: #999;
}

/* table - tbody */
tbody.p-lv-tbody {
}
.p-lv-clickable tbody.p-lv-tbody > tr {
	cursor: pointer;
}

tbody.p-lv-tbody > tr > tr.p-lv-odd {
}
tbody.p-lv-tbody > tr > tr.p-lv-even {
}
tbody.p-lv-tbody > tr > tr.p-lv-selected {
}
tbody.p-lv-tbody > tr > tr.p-lv-hover {
}
tbody.p-lv-tbody > tr > th {
	font-weight: normal;
}
tbody.p-lv-tbody > tr > th, tbody.p-lv-tbody > tr > td {
	padding: 8px;
	vertical-align: middle;
}
tbody.p-lv-tbody > tr > th.p-lv-check, tbody.p-lv-tbody > tr > td.p-lv-check,
tbody.p-lv-tbody > tr > th.p-lv-number, tbody.p-lv-tbody > tr > td.p-lv-number,
tbody.p-lv-tbody > tr > th.p-lv-rownum, tbody.p-lv-tbody > tr > td.p-lv-rownum,
tbody.p-lv-tbody > tr > th.p-lv-actions, tbody.p-lv-tbody > tr > td.p-lv-actions {
	text-align: center;
	width: 22px;
}

/* table - wrap */
.table-responsive > .p-lv-table th, .table-responsive > .p-lv-table td {
	white-space: nowrap;
}

thead.p-lv-chead > tr > th,
thead.p-lv-chead > tr > th.p-lv-actions,
thead.p-lv-chead > tr > th.p-lv-check,
thead.p-lv-chead > tr > th.p-lv-number,
thead.p-lv-chead > tr > th.p-lv-rownum,
tbody.p-lv-tbody > tr > th.p-lv-actions,
tbody.p-lv-tbody > tr > th.p-lv-check,
tbody.p-lv-tbody > tr > th.p-lv-number,
tbody.p-lv-tbody > tr > th.p-lv-rownum,
tbody.p-lv-tbody > tr > td.p-lv-actions,
tbody.p-lv-tbody > tr > td.p-lv-check,
tbody.p-lv-tbody > tr > td.p-lv-number,
tbody.p-lv-tbody > tr > td.p-lv-rownum {
	white-space: nowrap;
}


/* hover & select */
thead.p-lv-chead > tr > th.p-lv-sortable:hover {
	background-color: #F5FFFA;
}
tbody.p-lv-tbody > tr.p-lv-selected {
	background-color: #FFFFF0;
}
tbody.p-lv-tbody > tr:hover > td,
tbody.p-lv-tbody > tr.p-lv-hover > td {
}

/* grid style */
/*
thead.p-lv-chead > tr > th,
tbody.p-lv-tbody > tr > th,
tbody.p-lv-tbody > tr > td {
	border-left: dotted 1px #ccc;
}
thead.p-lv-chead > tr > th:first-child,
tbody.p-lv-tbody > tr > th:first-child,
tbody.p-lv-tbody > tr > td:first-child {
	border-left: none;
}
*/

/* ----------------------------------------------------
 * Default cssColumn Style
 * -------------------------------------------------- */
.p-lv-cc-status-A {
}
.p-lv-cc-status-D {
	text-decoration: line-through;
	background-image: linear-gradient(to bottom, transparent, transparent 49%, #666 50%, transparent 51%, transparent);
}
.p-lv-cc-status-T {
	font-style: italic;
	text-decoration: line-through;
	background-image: linear-gradient(to bottom, transparent, transparent 45%, #666 46%, transparent 47%, transparent 50%, #666 51%, transparent 52%, transparent);
}

/*---------------------------------------------*/
/* pager.css                                   */
/*---------------------------------------------*/
.pagination.p-pager > li > a,
.pagination.p-pager > li > span {
	background-color: #fff;
	border: 0 none;
	border-bottom: 3px solid #ddd;
	color: #888;
	font-family: Arial, sans-serif;
	margin-left: 3px;
	padding: 5px 11px;
}
.pagination.p-pager > li > a:hover,
.pagination.p-pager > li > span:hover {
	background-color: #eee;
	border: 0 none;
	border-bottom: 3px solid #337ab7;
}

.pagination.p-pager > li.p-pager-ellipsis > span {
	border: 0 none;
	border-bottom: 3px solid transparent;
	padding-left: 8px;
	padding-right: 8px;
}
.pagination.p-pager > li.p-pager-first > a,
.pagination.p-pager > li.p-pager-first > span {
}
.pagination.p-pager > li.p-pager-prev > a,
.pagination.p-pager > li.p-pager-prev > span {
}
.pagination.p-pager > li.p-pager-next > a,
.pagination.p-pager > li.p-pager-next > span {
}
.pagination.p-pager > li.p-pager-last > a,
.pagination.p-pager > li.p-pager-last > span {
}

.pagination.p-pager > .active > a,
.pagination.p-pager > .active > span,
.pagination.p-pager > .active > a:hover,
.pagination.p-pager > .active > span:hover,
.pagination.p-pager > .active > a:focus,
.pagination.p-pager > .active > span:focus {
	background-color: #fff;
	border: 0 none;
	border-bottom: 3px solid #337ab7;
	color: #000;
	font-weight: bold;
}
/* PANEL */
.p-panel-hscroll .panel-body {
	overflow-y: hidden;
	overflow-x: scroll;
}
.p-panel-hscroll .panel-body > div {
	white-space: nowrap;
}
/* TOOLS */
.p-btrans 		{ background: transparent; }

.p-cpointer 	{ cursor: pointer; }

.p-fbold 		{ font-weight: bold; }
.p-fitalic 		{ font-style: italic; }

.p-nowrap		{ white-space: nowrap; }
.p-tleft 		{ text-align: left; }
.p-tcenter 		{ text-align: center; }
.p-tright 		{ text-align: right; }

.p-vmiddle 		{ vertical-align: middle; }

.p-h100p 		{ height: 100%; }
.p-hauto 		{ height: auto; }
.p-w100p 		{ width: 100%; }
.p-wauto 		{ width: auto; }

.p-fleft 		{ float: left !important;}
.p-fright 		{ float: right !important; }
.p-fnone 		{ float: none !important; }

.p-show			{ display: block !important; }
.p-hidden 		{ display: none !important; }
.p-vhidden 		{ position: absolute; top: -999999px; left: -999999px; }
.p-inline 		{ display: inline; }
.p-iblock 		{ display: inline-block; }

.p-opacity0 	{ opacity: 0; filter: Alpha(Opacity=0); }

.p-noborder		{ border: 0 none; }

.p-fz70p 		{ font-size: 70%; }
.p-fz75p 		{ font-size: 75%; }
.p-fz80p 		{ font-size: 80%; }
.p-fz85p 		{ font-size: 85%; }
.p-fz90p 		{ font-size: 90%; }
.p-fz100p 		{ font-size: 100%; }
.p-fz110p 		{ font-size: 110%; }
.p-fz120p 		{ font-size: 120%; }
.p-fz130p 		{ font-size: 130%; }
.p-fz140p 		{ font-size: 140%; }
.p-fz150p 		{ font-size: 150%; }
.p-fz200p 		{ font-size: 200%; }

.p-th-nowrap th { white-space: nowrap; }
.p-td-nowrap td { white-space: nowrap; }
.p-trigger {
	position: absolute;
	color: #999;
	margin: 10px 0 0 -18px;
	z-index: 2;
	cursor: pointer;
}
.p-has-trigger, 
.p-form .form-control.p-has-trigger, 
.p-form input.form-control.p-has-trigger, 
.p-form select.form-control.p-has-trigger {
	padding-right: 20px;
}
.p-uploader-text {
	display: inline-block;
	margin-bottom: 0;
	padding-top: 7px;
}
