.p-required {
	color: #FF0000;
}

/** form layout */
.p-form.form-horizontal {
	background-color: #f9f9f9;
	color: #333;
	padding: 10px;
}
.p-form.form-horizontal .form-group {
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 5px 0;
}
.p-form.form-horizontal .p-buttons.form-group {
	border-bottom: 0;
}
.p-form .form-control {
	height: auto;
}
.p-form .form-control, .p-form input.form-control, .p-form select.form-control,
.p-form .input-group-addon, .p-form .input-group-btn {
	padding: 4px 10px;
}
.p-form input.form-control[size], .p-form select.form-control,
.p-form .input-group-addon, .p-form .input-group-btn {
	width: auto;
}
.p-form.form-horizontal .control-label,
.p-form.form-horizontal .radio,
.p-form.form-horizontal .checkbox,
.p-form.form-horizontal .radio-inline,
.p-form.form-horizontal .checkbox-inline {
	padding-top: 5px;
}

/** form inputs */
.p-form label {
	font-weight: normal;
}
.p-checkboxlist label.checkbox-inline,
.p-radiomap label.radio-inline {
	padding-right: 10px;
}
.p-checkboxlist .checkbox-inline+.checkbox-inline,
.p-radiomap .radio-inline+.radio-inline {
	margin-left: 0;
}


/** datetimepicker */
/* .p-datepicker, .p-timepicker, .p-datetimepicker {
}
*/
i.p-datepicker-icon, i.p-timepicker-icon, i.p-datetimepicker-icon {
	cursor: pointer;
}
