/*--------------------------------------------------
 * section
--------------------------------------------------*/
.p-section {
}
.p-header {
	margin: 0 0 20px 0;
	border-bottom: 4px double #ccc;
}
.p-header > h3, .p-header > .breadcrumb {
/*	background-color: #f5f5f5;
	border: solid 1px #e5e5e5;
	border-radius: 4px;
	*/
	background-color: transparent;
	font-size: 125%;
	margin: 0;
	padding: 8px 10px 4px 10px;
}
.p-header > .breadcrumb {
}
.p-header i {
	color: #2f6f9f;
	font-size: 150%;
	vertical-align: middle;
}
.p-header > h3.p-error > i, .p-header > i.p-error {
	color: #DC143C;
}


/*--------------------------------------------------
 * p-toolbar (ul)
 * p-navih (ul, ol)
--------------------------------------------------*/
.p-toolbar-wrap {
	text-align: right;
	margin-bottom: 10px;
}
.p-toolbar-wrap > .p-toolbar {
	float: right;
	font-size: 90%;
}
.p-toolbar {
	background-color: #f5f5f5;
	border-radius: 4px;
}
.p-toolbar, .p-navih {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0.5em 1.5em;
}
.p-toolbar li, .p-navih li {
	display: inline;
	margin: 0;
	padding: 0 1em;
	border-left: 1px solid #fff;
	border-right: 1px solid #c6bcaa;
}
.p-toolbar li:first-child, .p-navih li:first-child {
	border-left: none;
	padding-left: 0;
}
.p-toolbar li:last-child, .p-navih li:last-child {
	border-right: none;
	padding-right: 0;
}

/*--------------------------------------------------
 * Style
--------------------------------------------------*/
.p-well {
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	margin-bottom: 20px;
	min-height: 20px;
	padding: 20px;
}

/*--------------------------------------------------
 * Popup
--------------------------------------------------*/
.p-popup {
	padding: 10px;
	min-width: 400px;
}

/*--------------------------------------------------
 * Adblock
--------------------------------------------------*/
.p-adblock {
	font-size: 150%;
	color: #666;
}

