/*---------------------------------------------*/
/* listview.css                                */
/*---------------------------------------------*/
.p-lv {
	margin: 0;
	padding: 0;
}

/* form */
.p-lv-form {
	display: none;
}
.p-lv-submit {
}

/* header */
.p-lv-header {
}
.p-lv-header .p-lv-toolbar {
	margin: 0 0 -1px 0;
}

/* footer */
.p-lv-footer {
}
.p-lv-footer .p-lv-toolbar {
	margin: -1px 0 0 0;
}

/* toolbar */
.p-lv-toolbar {
	font-weight: normal !important;
	padding: 0 8px;
}
.p-lv-toolbar .p-lv-tools {
	margin: 8px 0;
	white-space: nowrap;
}
.p-lv-toolbar .p-lv-pager {
	margin: 2px 0;
}
.p-lv-toolbar .p-lv-addon {
	white-space: nowrap;
}

/* action link */
.p-lv a.p-lv-ia {
	display: inline-block;
	padding: 1px;
	white-space: nowrap;
}
.p-lv a.p-lv-ia, .p-lv a.p-lv-ia:hover {
	border: 0 none;
	text-decoration: none;
}
.p-lv a.p-lv-ia:hover {
	background-color: #ffef8f;
}
.p-lv a.p-lv-ia .p-lv-t {
	border: solid 1px #999;
	cursor: pointer;
	display: inline-block;
	margin: 0 0 0 -17px;
	padding: 1px 0 1px 18px;
	vertical-align: middle;
}

/* normal link */
.p-lv a.p-lv-a {
}

/* checkbox all */
.p-lv-ca {
}
/* checkbox row */
.p-lv-cb {
}

/* filters */
fieldset.p-lv-filters {
	padding: 5px;
}
fieldset.p-lv-filters legend {
}
.p-lv-fsform {
	background-color: #f9f9f9;
	padding: 10px;
}
.p-lv-filters-t {
	width: 100%;
}
.p-lv-filters-t > tbody > tr > td {
	padding: 2px;
}
.p-lv-filters-t .form-control,
.p-form .p-lv-filters-t .form-control {
	display: inline;
}
.p-lv-filters-t .form-control, 
.p-form .p-lv-filters-t .form-control {
	padding: 3px 6px;
}
.p-lv-filters-t .input-group-addon, 
.p-form .p-lv-filters-t .input-group-addon {
	padding: 5px 6px;
}
.p-lv-filters-t td.p-lv-submit td {
	white-space: nowrap;
}
.p-lv-filters-t td.p-lv-label {
	padding-right: 6px;
	width: 80px;
	min-width: 80px;
	text-align: right;
}
.p-lv-filters-t td.p-lv-label * {
}
.p-lv-filters-t td.p-lv-input {
	min-width: 390px;
	white-space: nowrap;
}
.p-lv-filters-t td.p-lv-input .p-checkboxlist,
.p-lv-filters-t td.p-lv-input .p-radiomap {
	white-space: normal;
}
.p-lv-filters-t td.p-lv-remove {
	width: auto;
}
.p-lv-filters-t .p-lv-f-string-v {
	width: 280px;
}
.p-lv-filters-t .p-lv-f-string-c {
	width: auto;
}
.p-lv-filters-t .p-datepicker,
.p-lv-filters-t .p-timepicker,
.p-lv-filters-t .p-datetimepicker {
	display: inline-block;
}
.p-lv-filters-t .p-datepicker-icon,
.p-lv-filters-t .p-timepicker-icon,
.p-lv-filters-t .p-datetimepicker-icon {
	display: inline;
}
.p-lv-filters-t .p-lv-f-date-v, .p-lv-filters-t .p-lv-f-date-v2,
.p-lv-filters-t .p-lv-f-time-v, .p-lv-filters-t .p-lv-f-time-v2,
.p-lv-filters-t .p-lv-f-datetime-v, .p-lv-filters-t .p-lv-f-datetime-v2 {
	width: 150px;
}
.p-lv-filters-t .p-lv-f-date-c,
.p-lv-filters-t .p-lv-f-datetime-c,
.p-lv-filters-t .p-lv-f-time-c {
	width: auto;
}
.p-lv-filters-t .p-lv-f-number-v, .p-lv-filters-t .p-lv-f-number-v2 {
	width: 160px;
}
.p-lv-filters-t .p-lv-f-number-c {
	width: auto;
}
.p-lv-filters-t .p-lv-f-boolean-true {
}
.p-lv-filters-t .p-lv-f-boolean-false {
}
.p-lv-filters-t .p-checkboxlist {
}
.p-lv-filters-t .p-lv-filters-sep td {
	padding: 10px 0;
}
.p-lv-filters-t .p-lv-filters-sep div {
	border-top: 1px dashed #ccc;
	width: 100%;
}
.p-lv-filters-t tr.p-lv-submit {
}
.p-lv-filters-t tr.p-lv-submit td.p-lv-submit {
	padding: 12px 2px 2px 2px;
}
.p-lv-fs-tb-options {
	margin: 0;
}
.p-lv-fs-tb-options td {
	white-space: nowrap;
}
.p-lv-filters-t .p-lv-fs-select {
	margin-left: 14px;
}

/* body */
.p-lv-body {
	margin: 0;
	padding: 0;
}
.p-lv-bform {
	background-color: transparent;
}
.p-lv-body-head {
	margin: 0 0 -2px 0;
}
.p-lv-cell-last {
	width: 100px;
}

/* table */
.p-lv-table {
	font-size: 90%;
	margin: 0;
	width: 100%;
}
.p-lv-hidden {
	display: none;
}
.p-lv-nowrap {
	white-space: nowrap;
}
.p-lv-column {
}


/* table - thead */
thead.p-lv-chead tr {
}
thead.p-lv-chead th {
	font-weight: normal;
	padding: 4px 4px;
	text-align: left;
	vertical-align: middle;
}
thead.p-lv-chead th.p-lv-rownum,
thead.p-lv-chead th.p-lv-number,
thead.p-lv-chead th.p-lv-check,
thead.p-lv-chead th.p-lv-actions {
	text-align: center;
	padding: 2px 4px;
	width: 22px;
}
thead.p-lv-chead th.p-lv-hover {
	font-weight: normal;
}
thead.p-lv-chead th.p-lv-filtered, thead.p-lv-chead th.p-lv-filtered:hover {
	font-style: italic;
	font-weight: bold;
}
thead.p-lv-chead th.p-lv-sort-asc,
thead.p-lv-chead th.p-lv-sort-desc,
thead.p-lv-chead th.p-lv-sortable {
	cursor: pointer;
}
thead.p-lv-chead th .p-lv-sort-asc,
thead.p-lv-chead th .p-lv-sort-desc,
thead.p-lv-chead th .p-lv-sort-off {
	display: inline-block;
	vertical-align: middle;
}

/* table - tbody */
tbody.p-lv-tbody {
}
tbody.p-lv-tbody tr.p-lv-odd {
}
tbody.p-lv-tbody tr.p-lv-even {
}
tbody.p-lv-tbody tr.p-lv-selected {
}
tbody.p-lv-tbody tr.p-lv-hover {
}
tbody.p-lv-tbody th {
	font-weight: normal;
}
tbody.p-lv-tbody th, tbody.p-lv-tbody td {
	padding: 2px 4px;
	vertical-align: middle;
}
tbody.p-lv-tbody th.p-lv-check, tbody.p-lv-tbody td.p-lv-check,
tbody.p-lv-tbody th.p-lv-number, tbody.p-lv-tbody td.p-lv-number,
tbody.p-lv-tbody th.p-lv-rownum, tbody.p-lv-tbody td.p-lv-rownum,
tbody.p-lv-tbody th.p-lv-actions, tbody.p-lv-tbody td.p-lv-actions {
	text-align: center;
	padding: 2px 4px;
	width: 22px;
}

thead.p-lv-chead th, thead.p-lv-chead th .p-lv-cell,
thead.p-lv-chead th.p-lv-actions, thead.p-lv-chead th.p-lv-actions .p-lv-cell,
thead.p-lv-chead th.p-lv-number,  thead.p-lv-chead th.p-lv-number .p-lv-cell,
thead.p-lv-chead th.p-lv-check,   thead.p-lv-chead th.p-lv-check .p-lv-cell,
tbody.p-lv-tbody th.p-lv-number,  tbody.p-lv-tbody th.p-lv-number .p-lv-cell, 
tbody.p-lv-tbody th.p-lv-rownum,  tbody.p-lv-tbody th.p-lv-rownum .p-lv-cell, 
tbody.p-lv-tbody th.p-lv-check,   tbody.p-lv-tbody th.p-lv-check .p-lv-cell, 
tbody.p-lv-tbody th.p-lv-actions, tbody.p-lv-tbody th.p-lv-actions .p-lv-cell, 
tbody.p-lv-tbody td.p-lv-number,  tbody.p-lv-tbody td.p-lv-number .p-lv-cell,
tbody.p-lv-tbody td.p-lv-rownum,  tbody.p-lv-tbody td.p-lv-rownum .p-lv-cell,
tbody.p-lv-tbody td.p-lv-check,   tbody.p-lv-tbody td.p-lv-check .p-lv-cell,
tbody.p-lv-tbody td.p-lv-actions, tbody.p-lv-tbody td.p-lv-actions .p-lv-cell {
	white-space: nowrap;
}

/* theme */
/*
thead.p-lv-chead th.p-lv-column {
	border-left-style: dotted;
	border-right-style: dotted;
}
tbody.p-lv-tbody td.p-lv-column,
tbody.p-lv-tbody tr.p-lv-selected td.p-lv-column,
tbody.p-lv-tbody tr:hover td.p-lv-column,
tbody.p-lv-tbody tr.p-lv-hover td.p-lv-column {
	border-left: dotted 1px #ccc;
	border-right: dotted 1px #ccc;
}
*/
