/*---------------------------------------------*/
/* pager.css                                   */
/*---------------------------------------------*/
.pagination.p-pager > li > a,
.pagination.p-pager > li > span {
	margin-left: 3px;
}
.pagination.p-pager > li.p-pager-ellipsis > span {
	border: 0 none;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
}
