<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<listener>
		<listener-class>panda.mvc.ioc.IocSessionListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>panda.mvc.ioc.IocRequestListener</listener-class>
	</listener>

	<!-- filter -->
	<filter>
		<filter-name>encoding-filter</filter-name>
		<filter-class>panda.servlet.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>logging-filter</filter-name>
		<filter-class>panda.servlet.filter.AccessLoggingFilter</filter-class>
		<init-param>
			<param-name>logger</param-name>
			<param-value>access</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>mvc</filter-name>
		<filter-class>panda.mvc.MvcFilter</filter-class>
		<init-param>
			<param-name>modules</param-name>
			<param-value>panda.mvc.testapp.classes.MainModule</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>encoding-filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>logging-filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>mvc</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>